/* Estilos para los colores de fondo */
.red-bg {
    background-color: #FF0000; /* Por ejemplo, rojo */
}

.blue-bg {
    background-color: lig; /* Por ejemplo, azul */
}

/* Agrega estilos para los demás colores si es necesario */

/* Estilos para el color del texto */
.red-text {
    color: #FFFFFF; /* Por ejemplo, texto blanco para contraste */
}

.blue-text {
    color: #000000; /* Por ejemplo, texto negro para contraste */
}

/* Agrega estilos para los demás colores si es necesario */
